.welcome{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-logged{
    display: flex;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.klasy{
    margin-left: 10px;
    width: 20%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

 .class{
    color: black;
 }   
.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button-37 {
    padding: 10px 30px;
    }
}
.add_classinput{
    width: 30px;
    margin-bottom: 7px;
}

.class_adding{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

li{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.h1-container{
    display: flex;
    justify-content: center;
}
.main{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.announcement{
    border-left: 1px solid black;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto; 
}
.announcement h1 .button-37{
    width: 10%;
    margin-top: 20px;
}
.announcement h1{
    height: 10%;
    font-weight: 800;
    font-size: 1.5rem;
}
.announcement-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.announcement-div  p{
    margin: 10px;
}
.temat{
    font-weight: 700;
}
.tresc{
    max-width: 150px; /* Ustal maksymalną szerokość */
    overflow-wrap: break-word;
}
.mail{
    width: 20px;
}
.grades_div{
    border-left: 1px solid black;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
}
.grades_div h1{
height: 10%;
font-weight: 800;
font-size: 1.5rem;
}
.plan_lekcji{
    border-left: 1px solid black;
    width: 500px;
    text-align: center;
    max-height: 700px;
    padding: 10px;
    
    align-items: center;
    overflow-y: auto; 

}
.plan_lekcji table{
    overflow-y: auto; 
    overflow-x: auto;
    height: 300px;
    margin: auto;
    border-collapse: collapse; 
}
.plan_lekcji h1{
    font-weight: 800;

}