{% extends "base.html"%}
{% block title %}Logowanie{% endblock %}
{% block content %}

<h2>Logowanie</h2>
<form action="{{ url_for('login') }}" method="POST">
    <label for="login">Nazwa użytkownika:</label>
    <input type="text" name="login" id="username" required>
    
    <label for="haslo">Hasło:</label>
    <input type="password" name="haslo" id="password" required>
    
    <button type="submit">Zaloguj się</button>
</form>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}