{% extends "base.html"%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %}Logowanie{% endblock %}
{% block content %}
<div class="container">

<h2>Zaloguj się</h2>

<form action="{{ url_for('login') }}" method="POST">
    <label for="login">Nazwa użytkownika:</label>
    <input type="text" name="login" id="username" required>
    
    <label for="haslo">Hasło:</label>
    <input type="password" name="haslo" id="password" required>
    
    <button type="submit">Zaloguj się</button>
</form>
</div>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}