<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <meta charset="UTF-8">
    <title>{% block title %}Strona główna{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-div">
        <img class="school-icon" src="{{url_for('static', filename='images/school.png')}}">
        <h1 class="title-of-page"><a href="/">Dzienniczek</a></h1>

       {%if session['logged_in']%}

       <div class="nav">        {%if session['uczen'] is true%}  <a href="/show_messages"><img class="mail" src="{{url_for('static', filename='images/email.png')}}" alt=""></a>        {% endif %}
        <a class="wyloguj" href="/wyloguj">Wyloguj</a> <img src="{{url_for('static', filename='images/check.png')}}" /></div>

       {% else %}
       <div class="nav"><a class="login" href="/login">Zaloguj sie <img src="{{url_for('static', filename='images/user.png')}}" /></a></div>

       {% endif %}

        </div>
    </nav>

    <main class="main">

        {%if session['logged_in']%}
        {%if session['uczen'] is false%}
        <div class="welcome"><p>Witaj nauczycielu {{ session['imie'] }} {{ session['nazwisko'] }}</p></div>
        {% else %}
        <div class="welcome"><p>Witaj Uczniu {{ session['imie'] }} {{ session['nazwisko'] }}</p></div>
        {% endif %}
        <div class="main-logged">
            {%if session['uczen'] is false%}

            <div class="class_adding">
                <div class="container-one">
                <h1>Klasy</h1>

            <ul>
            {% for klasa in klasy %}
               <a class="class" href="/klasa/{{ klasa.nazwa }}"><li>{{ klasa.nazwa }}</li></a> 
            {% endfor %}
        </ul>
         </div>
         <div>
            <form action="{{ url_for('add_class') }}" method="POST">
                <input type="text" name="class" class="add_classinput" required>
                <button type="submit" class="button-37">Dodaj klase</a>

            </form>
        </div>
        </div>

        {% endif %}

        <div class="announcement">
            <div class="container_ann">
            <h1>Ogłoszenia</h1>
            <div class="announcement-div">

            {% for ogloszenie in ogloszenia %}

                <p class="temat">{{ ogloszenie.temat }}</p>
                <p class="tresc"> {{ ogloszenie.tresc }}</p>

            {% endfor %}
        </div> 
        {%if session['uczen'] is false%}
     </div>
     <div class="announcement-btn">
            <a href="/send/announcement" type="submit" class="button-37">Dodaj Ogłoszenie</a>
        </div>
            {% endif %}



        </div>
        {%if session['uczen'] is true%}
    </div>

        <div class="grades_div">
        <h1>Oceny</h1>
        {% for ocena in oceny %}
                    <p class="oceny">{{ ocena.wartosc }}</p>
                {% endfor %}
                
        </div>
        <div class="plan_lekcji">
            <h1>Plan lekcji</h1>
            <table border="1">
                <tr>
                    <th>Dzień Tygodnia</th>
                    <th>Godzina</th>
                    <th>Przedmiot</th>
                </tr>
                {% for lekcja in plan %}
                <tr>
                    <td>{{ lekcja.dzien_tygodnia }}</td>
                    <td>{{ lekcja.godzina }}</td>
                    <td>{{ lekcja.przedmiot.nazwa }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>

        {% endif %}

        </div>


        
        {% else %}
            <div class="h1-container">
                
            <h1 class="big-h1">Aby zobaczyc zawartosc zaloguj sie</h1>
            </div>

        {% endif %}
        {% block content %}{% endblock %}
    </main>

   
</body>
</html>
