{% extends "base.html"%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='class.css') }}">
{% endblock %}



{% block title %}Logowanie{% endblock %}
{% block content %}
<div class="container">
<div class="class_name">{{klasa}}</div>
{% for uczen in uczniowie %}
    <li class="student">
        {{ uczen.imie }} {{ uczen.nazwisko }}
        <div class="buttons">
            {% set oceny_ucznia = uczen.oceny %}
            {% if oceny_ucznia %}
                {% for ocena in oceny_ucznia %}
                    <p class="oceny">{{ ocena.wartosc }}</p>
                {% endfor %}
            {% else %}
                <p>Brak ocen</p>
            {% endif %}
            <a href="/dodaj_ocene/{{ uczen.id }}/{{ klasa }}">Dodaj Ocene</a>
            <a href="/wyslij_wiadomosc/{{uczen.id}}">Wyślij wiadomość <img class="email" src="{{ url_for('static', filename='images/email.png') }}" /></a>
        </div>
    </li>
{% endfor %}
<a class="button-37"href="/klasa/{{klasa}}/add_student">Dodaj Ucznia</a>

</div>
<div class="container_second">
<div class="grades">
    <h1>Wykres ocen dla klasy</h1>
    <img src="{{ url_for('wykres_ocen', klasa_id=klasa) }}" alt="Wykres ocen" />
</div>
<div class="plan_lekcji">
<h1>plan lekcji</h1>
<table border="1">
    <tr>
        <th>Dzień Tygodnia</th>
        <th>Godzina</th>
        <th>Przedmiot</th>
    </tr>
    {% for lekcja in plan %}
    <tr>
        <td>{{ lekcja.dzien_tygodnia }}</td>
        <td>{{ lekcja.godzina }}</td>
        <td>{{ lekcja.przedmiot.nazwa }}</td>
    </tr>
    {% endfor %}
</table>
</div>

</div>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}


{% endblock %}
